.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 3rem;
}

.table > * {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
}

.table .full {
  grid-column: 1 / -1;
}
